@import url("~vis/dist/vis.min.css");

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #352c00 -29.09%,
    #313b69 51.77%,
    #2d1439 129.35%
  );
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  /* overflow-y: hidden; */
  /* overflow: hidden; */
  background-attachment: fixed;
}

.air-form {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.air-button {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.air-button:hover {
  background-color: rgba(81, 91, 94, 0.614) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.unselectable-text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.no-scrollbars {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbars::-webkit-scrollbar {
  display: none;
}

.news-scroller {
  background: rgba(0, 0, 0, 0);
  padding: 0.5rem;
  overflow: hidden;
}
.news {
  animation: slide 10s linear infinite;
  color: red;
}

@keyframes slide {
  0% {
    transform: translatex(10%);
  }

  100% {
    transform: translatex(-10%);
  }
}

/* TODO: fix this horribleness */
.modal-content {
  background: linear-gradient(
    150.96deg,
    #cbc6ad -29.09%,
    #8898e0 51.77%,
    #c694dd 129.35%
  );
}

button[disabled="disabled"].air-button,
button:disabled.air-button {
  color: rgba(81, 91, 94, 0.614) !important;
}

.padless tr,
.padless td {
  padding: 0 !important;
  margin: 0 !important;
}

.air-form {
  color: white !important;
}

